body {
  margin: 0px;
}

pre.highlight {
  background-color: $light-gray;
  padding: 1em;
}
header.site_head {
  margin-bottom: 1em;
  margin-top: 4em;
  display: block;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-image: image-url('nu-til-logo.svg');
  background-repeat: no-repeat;
  background-size: 80vw;
  height: 10vw;
  background-position: center;

  h1, a, a:hover {
    font-family: 'Bitter', serif;
    letter-spacing: 10px;
    text-align: center;
    display: block;
    color: $nu-yellow;
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: normal;
    margin-bottom:0em;
    display: none;
  }
}

header.navigation {
  position: fixed;
  top: 0px;
}

body {
  background-color: $background;
}

main {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#home {
  @include display(flex);
  @include flex-direction(column);
  margin: 1em auto;
}

article {
  background-color: #fff;
  color: $nu-blue;
  margin: 1em;
  padding: 1em;
  border: 1px solid $nu-blue-25;
  @include box-shadow(0.5vw, 0.5vw, $nu-blue-25);

  @include display(flex);

  a, a:hover {
    color: $nu-blue;
  }

  a:hover {
    text-decoration: underline;
  }

  h1 {
    font-size: 1.5em;
  }

  .copy {
    @include display(flex);
    @include flex-direction(column);
    @include flex-grow(1);
    @include flex-shrink(2);
    @include flex-basis(500px);
    justify-content: space-between;

    footer {
      font-size: 0.75em;
    }
  }

  aside {
    @include flex-grow(0);
    @include flex-shrink(2);
    @include flex-basis(5em);

    ul {
      margin-left: 1.5em;

      li {
        background-color: $nu-blue-90;
        padding: 0.5em;
        margin-bottom: 0.5em;
        font-size: 0.75em;
        a, a:hover {
          color: $body-text;
        }
      }

      li:nth-child(2) {
        background-color: $nu-blue-75;
      }

      li:nth-child(3) {
        background-color: $nu-blue-60;
      }

      li:nth-child(4) {
        background-color: $nu-blue-45;
      }

      li:nth-child(5) {
        background-color: $nu-blue-30;
      }
    }
  }
}

#post_edit {
  section.box article {
    @include flex-direction(column);
    .copy {
      @include flex-basis(1em);
    }
  }

  h1 {
    margin-bottom: 1em;
    clear: both;
  }

  .character_limit, .word_limit {
    float: right;
    font-size: 0.75em;
    font-style: italic;
  }

  textarea {
    margin-bottom: 0px;
  }

  dt label {
    display: inline-block;
    font-weight: normal;
  }

  .actions {
    input, a {
    }
  }
}

textarea {
  width: 100%;
  padding: .5rem;
  border: 1px solid $blue;
  line-height: 1.6;
  box-sizing: border-box;
  border-radius: 0;
  display: block;
}
textarea:focus {
  border-color: $nu-blue;
  outline: none;
}
textarea.autosize {
  resize: none;
}
#editor {
  height: 300px;
  width: 100%;
  display: none;
}



@include media($mobile) {

  article {
    @include flex-wrap(wrap);

    aside {
      @include flex-grow(1);
      @include flex-shrink(2);
      @include flex-basis(100%);
      @include flex-wrap(wrap);

      ul {
        padding-right: 0.5em;
        width: 100%;
        display: block;
        margin-left: 0px;
        @include flex-wrap(wrap);

        li {
          display: inline-block;
          margin: 0.25em 0.25em;
          line-height: 2;
        }
      }
    }
  }
}