aside.site_about .copy, aside.site_search .search_fields {
    display: none;
}

aside.site_about, aside.site_search, aside.site_statistics {
  background-color: $nu-blue;
  padding: 1em;
  position: fixed;
  left: 25px;
  width: 45px;
  height: 45px;
  color: #fff;
  a, a:hover {
    color: #fff;
  }
}

aside.site_about {
  top: 150px;
}

aside.site_search {
  top: 210px;
}

aside.site_statistics {
  top: 270px;
}

