article {
  display: flex;

  a, a:hover {
    color: $nu-blue;
  }

  a:hover {
    text-decoration: underline;
  }

  h1 {
    font-size: 1.5em;
  }

  .copy, aside {
    @include shadow-box();
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    footer {
      font-size: 0.75em;
      margin-top: 0.5em;
      color: $nu-blue-60;
      font-family: $base-font-family;
      p {
        margin-bottom: 0px;
      }
      p.date-time a {
        color: $nu-yellow;
      }
      a {
        color: $nu-blue-60;
      }
      .previous-post, .draft-post {
        float: left;
      }
      .next-post {
        float: right;
      }
      .date-time {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    blockquote {
      margin-left: 2em;
      padding-left: 10px;
      border-left: 5px solid $github-grey;
    }
  }

  .copy {
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 75%;
    overflow-x: auto;
    color: #4e4e4e;
    font-family: 'Noto Serif', serif;
    line-height: 1.75;
  }

  aside {
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 2;
    flex-basis: 25%;
    overflow: auto;

    ul {
      li {
        padding: 0.2em 1em;
        font-size: 0.85em;
        border-bottom: 1px solid $nu-blue-25;

        .developer-username {
          overflow-wrap: break-word;
        }

        a, a:hover {
          color: $nu-blue;
        }
      }

      li:last-child {
        border-bottom-width: 0px;
      }
    }
  }

  iframe.twitter-share-button {
    display: block;
    margin: 1em auto;
  }

  a.like {
    display: block;
    background: image-url("icon_like.png") right center no-repeat;
    background-size: auto 70%;
    background-origin: border-box;
    transition: background-image 0.2s;
  }

  a.like:hover, a.like.liked {
    background-image: image-url("icon_like_active.png");
    border-color: #d84536;
  }
}

textarea {
  width: 100%;
  padding: .5rem;
  border: 1px solid $blue;
  line-height: 1.6;
  box-sizing: border-box;
  border-radius: 0;
  display: block;
}

textarea:focus {
  border-color: $nu-blue;
  outline: none;
}

textarea.autosize {
  resize: none;
}

#editor {
  height: 300px;
  width: 100%;
  display: none;
}

pre.highlight {
  background-color: $github-grey;
  padding: 1em;
  margin-bottom: 0.75em;
}

@include media($mobile) {
  article {
    flex-wrap: wrap;

    .copy {
      margin-bottom: 0.5em;
    }

    aside {
      @include override-shadow-box();
      margin: 1em;
      margin-top: 0em;
      flex-grow: 1;
      flex-shrink: 2;
      flex-basis: 100%;
      flex-wrap: wrap;

      ul {
        padding-right: 0.5em;
        width: 100%;
        display: block;
        margin-left: 0px;
        flex-wrap: wrap;

        li {
          @include shadow-box();
          display: inline-block;
          margin: 0.25em 0.25em;
          line-height: 2;
          padding: 0.2em 1em;

          a.like {
            padding-right: 2em;
          }
        }
      }
    }
  }
}
