%section#post_edit
  %section.box
    %article
      .new_post_header
        %h1 Create Post
      = render 'form'

  %article.post
    %section.copy
      %h1.title_preview
      .content_preview
      %footer
        %p.word_count
